:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --accent-color: #B92F2C;
}

header {
    margin: 20px;
    
    @media screen and(min-width:768px) {
            margin: 32px;
        }
}

.header {
    margin: 20px;
    
    @media screen and(min-width:768px) {
        margin: 30px;
        padding: 16px;
    }

    @media screen and(min-width:1280px) {
        padding-top: 16px;
        padding-bottom: 32px;     
    }
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1280px;
    }
}

.container-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    // justify-content: space-between;
    @media screen and(min-width:768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}


.header-nav {
    margin-bottom: 300px;
}

.library-nav-list {
    display: flex;
    gap: 4px;
    margin-top: 16px;
    margin-left: 16px;

    @media screen and(min-width:768px) {
        margin: 0;
    }

    @media screen and(min-width:1280px) {
        gap: 8px;
        
    }
}

// .nav-list__item {}

.library-nav-list__link {
    display: inline-block;
    background-color: var(--white-color);
    border-radius: 100px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--black-color);
    transition: all 250ms ease;
}

.library-nav-list__link:hover,
.library-nav-list__link:focus {
    background-color: var(--black-color);
    color: var(--white-color);
}

.home {
    padding: 10px 26px;

    @media screen and(min-width:768px) {
           padding: 12px 24px;
        }

    @media screen and(min-width:1280px) {
        padding: 14px 32px;

    }
}

.library{
    padding: 10px 22px;
    
        @media screen and(min-width:768px) {
            padding: 12px 20px;
        }
    
        @media screen and(min-width:1280px) {
            padding: 14px 24px;
    
        }

}

.current {
    background-color: var(--black-color);
    color: var(--white-color);
}

.library-logo {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    margin-bottom: 16px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.19;
    color: var(--white-color);

    @media screen and(min-width:768px) {
        position: absolute;
        bottom: 0;
        margin: 0;

        font-size: 40px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1280px) {
        font-size: 64px;
        line-height: 1.17;
    }

}

.library-logo-icon {
    width: 32px;
    height: 32px;

    @media screen and(min-width:768px) {
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: 1280px) {
        width: 59px;
        height: 59px;
    }

}

.library-btn-list {
    display: flex;
    margin: 0 auto;
    gap: 4px;

    @media screen and(min-width:768px) {
        margin: 0;
    }

    @media screen and(min-width:1280px) {
        gap: 8px;
    }
}

.btn {
    display: block;
    
    background-color: var(--white-color);
    border: none;
    border-radius: 100px;

    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    color: var(--accent-color);
    transition: all 250ms ease;

    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
    }
}

.btn-active {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.watched {
    padding: 10px 23px;

    @media screen and(min-width:768px) {
            padding: 12px 23px;
        }
    
        @media screen and(min-width:1280px) {
            padding: 14px 32px;
    
        }
}

.queue {
    padding: 10px 24px;
    
        @media screen and(min-width:768px) {
            padding: 12px 24px;
        }
    
        @media screen and(min-width:1280px) {
            padding: 14px 24px;
    
        }
}