h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style-type: none;
}
// spinner 2 
.lds-dual-ring {
  
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #B92F2C;
  border-color: #B92F2C transparent #B92F2C transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrep{
 min-height: 100%;
 display: flex;
 flex-direction: column;

}
.main{
  flex: 1 1 auto;
}
.tui-pagination{ 
  margin-bottom: 20px;}
  
  .tui-pagination .tui-is-selected, .tui-pagination strong {
    color: #fff;
    background: red;
    border-color: red;
    cursor: default;
}