h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
width: 100%;

}

li{
    list-style-type: none;
      }
  