.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;


  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
   
  }
  @media screen and (min-width: 768px) {
   
    flex-direction: row;

    margin-top: 32px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 32px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {

    gap: 16px;
  }
}
.start {
  @media screen and (max-width: 767px) {
    width: 150px;
    height: 150px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 200px;
    height: 200px;
  }
  @media screen and (min-width: 1280px) {
    width: 300px;
    height: 300px;
  }
}
