.container-cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    max-width: 320px;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 32px;

    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    gap: 16px;
    max-width: 1280px;
  }
}
