.container-card {
margin-left: auto;
    margin-right: auto;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: $mobile-width) {
        width: $mobile-width;
    }

    @media screen and (min-width: $table-width) {
        width: $table-width;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: $desktop-width) {
        width: $desktop-width;
    }
}

.gallery-markup {
    // height: 443px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 20px;
    display: flex;
    position: relative;

    @media screen and (min-width: $table-width) {
            gap: 32px;
            align-items: center;
            // margin-top: 32px;
        }
    
        @media screen and (min-width: $desktop-width) {
            gap: 32px 16px;
        }
    }


.film-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    // margin-top: 32px;
    cursor: pointer;

    @media screen and (min-width: $mobile-width) {
        width: 280px;
    }
    @media screen and (min-width:$table-width) {
        width: calc(50% - 16px);
        // height: 494px;
    }
        @media screen and (min-width: $desktop-width) {
            width: calc(33.3333% - 10.6667px);
            height: 634px;
        }

    transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.film-card img {
    @media screen and (min-width: $mobile-width) {
            
        }
    
        @media screen and (min-width:$table-width) {
           
        }
    
        @media screen and (min-width: $desktop-width) {
            
            height: 574px;
        }
    
}
// .film-card:first-child {
//     margin-top: 20px;
//     @media screen and (min-width:$table-width) {
//             margin-top: 0;
//         }
// }

.film-card:hover {
    transform: scale(1.02);
}

.film-poster {
    // min-width: 320px;
    border-radius: 5px;

    @media screen and (min-width: $table-width) {
        max-width: 336px;
        min-width: 100%;
        height: 494px;
    }

    @media screen and (min-width: $desktop-width) {
        min-width: 396px;
        height: 574px;
    }
}

.film-title {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 1.17;
    @media screen and (min-width: $table-width) {
        line-height: 1.33;
        }
                @media screen and (min-width: $desktop-width) {
                    font-size: 20px;
                    line-height: 1.2;
                }
}

.film-details {
    font-family: 'Roboto', sans-serif;
    color: #b92f2c;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    @media screen and (min-width: $table-width) {
            line-height: 1.33;
        }
}

.is-hidden {
    visibility: hidden;
}