.header__container {
    height: 460px;
padding-left: 20px;
padding-right: 20px;
    // padding: 20px;
    background-image: url(../images/header/header-bg-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: auto;

    @media screen and (min-width: $mobile-width) {
        // margin-top: 20px;
        // padding: 16px;
        width: 320px;
        height: 460px;
    }

    @media screen and (min-width: $table-width) {
        margin-top: 32px;
        padding: 16px;
        width: 704px;
        height: 222px;
        background-image: url(../images/header/header-bg-tablet.jpg);
    }

    @media screen and (min-width: $desktop-width) {
        padding: 16px 32px;
        width: 1216px;
        height: 316px;
        background-image: url(../images/header/header-bg-desktop.jpg);
    }
}

.navi {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-left: 14px;
    padding-right: 14px;

    @media screen and (min-width: $table-width) {
        gap: 8px;
        padding: 0;
    }
}

.search {
    position: relative;
    width: 100%;
    order: 2;

    @media screen and (min-width: $table-width) {
        width: 165px;
    }

    @media screen and (min-width: $desktop-width) {
        width: 187px;
    }
}

.search__input {
    width: 100%;
    // height: 42px;
    height: 34px;
    padding: 16px;
    background: #ffffff;
    border-radius: 100px;
    border: none;

    @media screen and (min-width: $table-width) {
        width: 165px;
        height: 38px;
    }

    @media screen and (min-width: $desktop-width) {
        width: 187px;
        height: 42px;
    }
}

.search__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.search__btn {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 18px;

    @media screen and (min-width: $table-width) {
        gap: 8px;
        order: 2;
        // margin-top: 16px;
        margin-top: 0;
    }
}

.menu-list__link {
    padding: 10px 22px;
    background: #ffffff;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    @media screen and (min-width: $table-width) {
            padding: 12px 20px;
        }
    
        @media screen and (min-width: $desktop-width) {
            padding: 14px 24px;
        }
}

.menu-list__link:hover,
.menu-list__link:focus {
    background-color: #000;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link--active {
    background-color: #000;
    color: #fff;
    padding: 10px 26px;
    @media screen and (min-width: $table-width) {
        padding: 12px 24px;
        }
    
        @media screen and (min-width: $desktop-width) {
            padding: 14px 32px;
        }
}

.logo {
    // margin-top: 62vh;
    margin-top: 312px;


    @media screen and (min-width: $table-width) {
        margin-top: 105px;
    }

    @media screen and (min-width: $desktop-width) {
        margin-top: 164px;
    }
}

.logo__icon {
    width: 32px;
    @media screen and (min-width: $table-width) {
            width: 40px;
        }
                @media screen and (min-width: $desktop-width) {
                    width: 59px;
                }
}

.logo__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.19;
    color: #ffffff;

    @media screen and (min-width: $table-width) {
        justify-content: start;
        gap: 8px;
        font-size: 40px;
        line-height: 1.17;
    }
         @media screen and (min-width: $desktop-width) {
            font-size: 64px;
            line-height: 1.17;
            gap: 16px;
         }
}