.header__container {
    height: 100vh;

    padding: 20px;
    background-image: url(../images/header/header-bg-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: $mobile-width) {
        margin-top: 20px;
        padding: 16px;
        width: 320px;
    }

    @media screen and (min-width: $table-width) {
        margin-top: 32px;
        padding: 16px;
        width: 704px;
        height: 222px;
        background-image: url(../images/header/header-bg-tablet.jpg);
    }

    @media screen and (min-width: $desktop-width) {
        padding: 16px 32px;
        width: 1216px;
        height: 316px;
        background-image: url(../images/header/header-bg-desktop.jpg);
    }
}

.navi {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @media screen and (min-width: $table-width) {
        gap: 8px;
    }
}

.search {
    position: relative;
    width: 100%;
    order: 2;

    @media screen and (min-width: $table-width) {
        width: 165px;
    }

    @media screen and (min-width: $desktop-width) {
        width: 187px;
    }
}

.search__input {
    width: 100%;
    height: 42px;
    padding: 16px;
    background: #ffffff;
    border-radius: 100px;
    border: none;

    @media screen and (min-width: $table-width) {
        width: 165px;
    }

    @media screen and (min-width: $desktop-width) {
        width: 187px;
    }
}

.search__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.search__btn {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 4px;

    @media screen and (min-width: $table-width) {
        gap: 8px;
        order: 2;
    }
}

.menu-list__link {
    padding: 14px 24px;
    background: #ffffff;
    border-radius: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.menu-list__link:hover,
.menu-list__link:focus {
    background-color: #000;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list__link--active {
    background-color: #000;
    color: #fff;
}

.logo {
    margin-top: 62vh;

    @media screen and (min-width: $table-width) {
        margin-top: 105px;
    }

    @media screen and (min-width: $desktop-width) {
        margin-top: 164px;
    }
}

.logo__icon {
    width: 32px;
    @media screen and (min-width: $table-width) {
            width: 40px;
        }
                @media screen and (min-width: $desktop-width) {
                    width: 59px;
                }
}

.logo__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 32px;
    color: #ffffff;

    @media screen and (min-width: $table-width) {
        justify-content: start;
        gap: 16px;
        font-size: 40px;
    }
         @media screen and (min-width: $desktop-width) {
            font-size: 64px;
         }
}